* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 24px;
    font-family: "Space Mono", sans-serif;
}


html, body {
    background-color: hsl(185, 41%, 84%);
    height: 100%;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 250px;

}

.overall-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4.5%;
    background-color: hsl(0, 0%, 100%);
    width: 41%;
    border-radius: 30px;
    height: 575px;
    padding-top: 1px;
    padding-bottom: 1px;
    display: flex;
    justify-content: space-between;

}

.lazy {
    color: hsl(186, 14%, 43%);
    margin-top: 55px;
    overflow: hidden;
    font-size: 18px;
    font-weight: 700;
}


#bill-input {
    background-image: url(./images/icon-dollar.svg);
    background-repeat: no-repeat;
    background-size: 3.5%;
    width: 96%;
    background-color: hsl(189, 41%, 97%);
    border-radius: 8px;
    height: 60px;
    margin-top: 10px;
    border-color: transparent;
    background-position: 5%;
    margin-bottom: 45px;
    text-align: right;
    padding-right: 20px;
    color: hsl(183, 100%, 15%)
}

.input-container {
    padding-left: 5%;

}

.select-tip {
    color: hsl(186, 14%, 43%);
    font-weight: 700;
    font-size: 18px;
}

.grid-container {
    margin: 0.7rem;
    margin-left: 0px;
    display: grid;
    grid-template-columns: repeat(3, 138px);
    row-gap: 20px;
    column-gap: 18px;
    margin-bottom: 1.8rem;

}

.tip-percentage {
    background-color: hsl(183, 100%, 15%);
    color: white;
    font-weight: 500;
    cursor: pointer;
    height: 55px;
    border-radius: 7px;
    border-color: transparent;
    font-size: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tip-percentage:hover {
    background-color: hsl(185, 41%, 84%);
    color: hsl(183, 100%, 15%);
    font-weight: 700;
}

#custom-button::placeholder {
    color: hsl(186, 14%, 43%);
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    padding-right: 5px;
}

#custom-button {
    background-color: hsl(189, 41%, 97%);
    box-sizing: border-box;
    border-radius: 7px;
    cursor: pointer;
    text-align: right;
    border-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    caret-color: hsl(172, 67%, 45%);
    outline: none;
    padding-right: 5px;
    color: hsl(183, 100%, 15%);
}

#custom-button:hover {
    border: 4px solid hsl(172, 67%, 45%);

}

.lazy-two {
    color: hsl(186, 14%, 43%);
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
}



#number-of-people {
    background-image: url(./images/icon-person.svg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 3.5%;
    width: 96%;
    background-position: 5%;
    background-color: hsl(189, 41%, 97%);
    border-radius: 8px;
    height: 60px;
    border-color: transparent;
    text-align: right;
    padding-right: 20px;

}




.result-container {
    background-color: hsl(183, 100%, 15%);
    width: 470px;
    height: 90%;
    overflow: hidden;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 20px;
    margin-right: 30px;
}

.ppl-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}

.error {
    color: red;
    font-size: 18px;
    margin-bottom: 10px;

}

.hide {
    display: none;
}

.tip-amount {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.padding-container {
    padding-left: 40px;
    padding-top: 60px;
    padding-right: 40px;
}

.total {
    color: hsl(172, 67%, 45%);
    font-size: 60px;
    font-weight: 700;
}

.total-second{
    color: hsl(172, 67%, 45%);
        font-size: 60px;
        font-weight: 700;
}

.tip-header {
    font-size: 20px;
    color: white;
}

.person {
    font-size: 18px;
    color: hsl(185, 41%, 84%);
}

.tip-amount.second {
    margin-top: 37px;
    margin-bottom: 130px;
}

.reset {
    width: 100%;
    background-color: hsl(172, 67%, 45%);
    border-color: transparent;
    cursor: pointer;
    padding: 9px 0 9px 0;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    color: hsl(183, 100%, 15%);
}

.active {
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
    font-weight: 700;
}

.activesecond {
    border: 10px solid hsl(172, 67%, 45%);

}

/*Viewpoint Stuff, Never Works*/

@media (max-width: 767px) {
    .overall-container {
        width: 100%;
        flex-direction: column;
        height: auto;
        padding-bottom: 60px;
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    .tip-percentage,
    #custom-button {
        font-size: 18px;
        height: 45px;
        max-width: 95%;
    }

    #bill-input,
    #number-of-people {
        font-size: 18px;
        height: 50px;
    }

    .tip-header,
    .person {
        font-size: 16px;
    }

    .total {
        font-size: 40px;
    }

    .total-second{
        font-size: 40px;
    }

    .reset {
        font-size: 18px;
        padding: 12px;
    }

        .result-container{
            width: auto;
            padding-bottom: 40px;
        }

        .logo{
            margin-bottom: 50px;
        }

        

}

@media (min-width: 768px) and (max-width: 1023px) {
    .overall-container {
        width: 100%;
        flex-direction: column;
        height: auto;
        padding-bottom: 60px;
    }

    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }

    .tip-percentage,
    #custom-button {
        font-size: 20px;
        height: 50px;
        max-width: 95%
    }

    #bill-input,
    #number-of-people {
        font-size: 20px;
        height: 55px;
    }

    .tip-header,
    .person {
        font-size: 18px;
    }

    .total {
        font-size: 45px;
    }

    .reset {
        font-size: 20px;
        padding: 14px;
    }
         .logo {
             margin-bottom: 50px;
         }



.result-container {
    width: auto;
    padding-bottom: 40px;
}

 .total-second {
     font-size: 40px;
 }


}

