body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "League Spartan", sans-serif;
    background-color:hsl(222, 26%, 31%);
}

.calc-container{
width: 600px;
margin-top: 150px;
}



.result-container{
    background-color: hsl(224, 36%, 15%);
    text-align: right;
    height: 140px;
    border-radius: 10px;
}

.theme-label{
    color:white;
}

.result{
    font-size:60px;
    margin-right: 30px;
    font-weight: 600;
}

.calc-button-container{
    background-color: hsl(223, 31%, 20%);
    height: 430px;
    border-radius: 10px;
}

.calc-nmbr-btns{
    background-color: hsl(30, 25%, 89%);
    width:100%;
    height: 100%;
    box-shadow: inset 0 -4px 0 0 hsl(28, 16%, 65%);
    border: none;
    border-radius: 8px;
    color:hsl(221, 14%, 31%);
    font-weight: 700;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.padding-container{
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}

.delete-btn{
    background-color: hsl(225, 21%, 49%);
    box-shadow: inset 0 -4px 0 0 hsl(224, 28%, 35%);
    color: white;
}

.reset-container{
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
}



.equals-btn{
background-color: hsl(6, 63%, 50%);
box-shadow: inset 0 -4px 0 0 hsl(6, 70%, 34%);
color:white;
}

.bottom{
    width: 50%;
    height: 60px;
    border-radius: 10px;
    font-weight: bold;
    border: none;
}

.calc-nmbr-btns, .equals-btn, .reset{
    transition: .2s all ease-in;
}

.calc-nmbr-btns:hover,
.equals-btn:hover,
.reset:hover {
    filter: brightness(1.4);
}


.theme-toggle-container{
    height:50px;
}

input[type="range"] {
    -webkit-appearance: none;
    background: hsl(223, 31%, 20%);
    position: relative;
    z-index: 1;
    cursor: pointer;
    height: 25px;
    width: 70px;
    border-radius: 30px;
    padding-left: 4px;
    padding-right: 4px;
    pointer-events: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height:15px;
    background: hsl(6, 63%, 50%);
    border-radius: 50%;
    position: relative;
    pointer-events: auto;
    cursor: pointer;
    transition: .2s all ease-in;
}

input[type="range"]::-webkit-slider-thumb:hover{
    filter: brightness(1.4);
}

.theme-numbers {
    width: 60px;
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    top:145px;
    right:530px;
    color:white;
}


.logo-header{
    color:white;
}

.reset{
    color:white;
}

.result {
    color: white;
}

.orange-thumb::-webkit-slider-thumb {
    background: hsl(25, 98%, 40%) !important;
}

.cyan-thumb::-webkit-slider-thumb {
    background: hsl(176, 100%, 44%) !important;
}

.regular-thumb::-webkit-slider-thumb {
    background: hsl(6, 63%, 50%) !important;
}