*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "League Spartan", sans-serif;
    background-color: var(--Dark);
    background-image: url('./assets/background-stars.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

html{
    font-size: 18px;
}

:root {
    --Light: hsl(0, 0%, 100%);
    --Dark: hsl(240, 67%, 8%);
    --DarkGrey: hsl(240, 17%, 26%);
    --Grey: hsl(240, 6%, 54%);
    --Mercury: hsl(194, 48%, 49%);
    --Venus: hsl(33, 82%, 61%);
    --Earth: hsl(263, 67%, 51%, 1);
    --Mars: hsl(10, 63%, 51%, 1);
    --Jupiter: hsl(2, 68%, 53%, 1);
    --Saturn: hsl(17, 73%, 46%, 1);
    --Uranus: hsl(169, 73%, 44%, 1);
    --Neptune: hsl(222, 87%, 56%, 1);
}

.planet-header{
    color:var(--Light);
    font-family: "Antonio", sans-serif;
    font-size:30px;
}

.planet-btns{
display:flex;
width:50%;
gap:40px;
}

.planet-btn{
    width: 70px;
    height:30px;
    background-color: transparent;
    color:var(--Grey);
    font-weight: 700;
    border: none;
    text-transform: uppercase;
}

button:focus{
 outline:none;
}

.divider{
    height:1px;
    width:30px;
    background-color: var(--DarkGrey);
}

.planets-container{
width: 78%;
height:610px;
margin-top: 190px;
gap:275px;
}


.planet-img{
    width:600px;
    margin-left: 150px;
}

.planet-info-header{
   color:var(--Light);
   font-size: 75px;
   font-family: "Antonio", sans-serif;
   text-transform: uppercase;
}

.planet-information{
    width: 500px;
    height:600px;
    overflow: hidden;
    flex-direction: column;
    color:var(--Grey);
}

.wiki-link{
    color:var(--Grey);
    font-weight: 700;
    text-decoration: underline;
}

.source{
    color:var(--DarkGrey);
}

.source-btn{
    background-color: transparent;
    border:none;
}

.planet-info-btns{
    margin-top: 30px;
    display: grid;
    height:180px;
    gap:15px;
}

.planet-info-btn{
    background-color: transparent;
    outline:none;
    border:none;
    color:var(--Light);
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: left;
    padding-left:35px;
    border: 1px solid var(--DarkGrey);
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
}

.planet-nmbrs{
    margin-right: 20px;
    font-weight: 400;
    color: var(--Grey);
}

.facts-grid{
    display:grid;
    height:150px;
    width: 78%;
    grid-template-columns: repeat(4, 1fr);
    justify-items: end;
}

.fact-box{
    height: 100%;
    width:90%;
    background-color:white;
    gap:20px;
    background-color: transparent;
    border: 1px solid var(--DarkGrey);
    padding-left: 22px;
    text-transform: uppercase;
}

.fact-header{
    color: var(--Grey);
    margin-top: 22px;
    letter-spacing: 2px;
}

.fact-box div {
    color: var(--Light);
    font-size: 50px;
    font-family: "Antonio", sans-serif;
}