body{
    background-color: hsl(148, 38%, 91%);
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
    font-size: 16px;
}

.hide{
    display: none;
    
}

.big-container{
    background-color: hsl(0, 0%, 100%);
    height: fit-content;
    
    width: 47%;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 125px;
   padding: 1px;
    position: relative;
    margin-bottom: 125px;
}

.info-container{
    padding-left: 40px;
    padding-right: 40px;
}

.name-labels{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 82px;
    gap: 18px;
    
    padding: 1px;
}

.contact-us{
    margin-top: 40px;
}

.names{
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-container{
    display: flex;
    flex-direction: column;
   
    height: 100%;
}

.name-boxes{
    height: 60%;
    border-radius: 10px;
    outline:none;
    border: 1px solid hsl(187, 24%, 22%);
    cursor: pointer;
    font-size: 20px;
    padding-left: 20px;
    font-family: inherit;
    transition: all .2s ease-in;
}

.name-boxes:hover{
    border: 2px solid hsl(169, 82%, 27%) ;
}

label{
    margin-bottom: 10px;
}

.email-container{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    height: 82px;
    padding: 1px;
}

input:-webkit-autofill {
    background-color: white !important;
    /* Changes the background to white */
    -webkit-box-shadow: 0 0 0 1000px white inset;
    /* Ensures the background color is fully applied */
   
}

.query-label{
    margin-top: 40px;
}

.query-labels{
    display: grid;
        grid-template-columns: 1fr 1fr;
        height: 52px;
        gap: 18px;
       
       
}

.query-labels label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    background-color: white;
    color: hsl(187, 24%, 22%);
    cursor: pointer;
    transition: all 0.2s ease;
    border: 1px solid hsl(187, 24%, 22%);
    font-size: 20px;
    height: 100%;
}

/* Style for the selected radio button */


/* Optional: Add hover effect */
.query-labels label:hover {
    background-color: hsl(148, 38%, 91%);
    border: 2px solid hsl(169, 82%, 27%)
}

.query-container{
    margin-top: 25px;
    margin-bottom:25px
}

 .query-type{
    margin-left: 20px;
    
 }

input[type="radio"]{
transform: scale(1.7);
margin-right: 20px;
margin-left: 40px;
color:hsl(186, 15%, 59%);
}


input[type="radio"]:checked{
content:url(./assets/images/icon-radio-selected.svg)
}


.message-box{
    height: 110px;
    border: 1px solid hsl(186, 15%, 59%);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-right: 3px solid hsl(186, 15%, 59%);
    border-left: 3px solid hsl(186, 15%, 59%);
    margin-top: 14px;
    margin-bottom: 10px;
    width: 100%;
    font-family: inherit;
    font-size: 18px;
    box-sizing: border-box;
    padding: 15px 30px 20px 15px;
    resize: none;
    cursor: pointer;
}

input[type="checkbox"]:checked {       
    border-color: transparent;
    background-image: url(./assets/images/icon-checkbox-check.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
   border: 1px solid hsl(186, 15%, 59%);
    position: relative;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 2px;
     position: relative;
    
}

.idk{
    display: flex;
   align-items: center;
   font-weight: 700;
   color: hsl(187, 24%, 22%);
   margin-top: 30px;
  margin-bottom: 10px;
}

.green{
    color:hsl(169, 82%, 27%);
    margin-left: 3px;
}

.submit-btn{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 40px;
    height: 60px;
    background-color: hsl(169, 82%, 27%);
    border-color: transparent;
    border-radius: 10px;
    font-size: 20px;
    font-family: inherit;
    color:white;
    cursor: pointer;
}

.sucess-container{
    background-color: hsl(187, 24%, 22%);
   height: 120px; 
   color: white;
   margin-left: auto;
   margin-right: auto;
   width: 465px;
    position: relative;
    top:125px;
    z-index: 1;
    border-radius: 15px;
}

.message-container{
    display: flex;
    padding-left: 30px;
    align-items: center;
    padding-top: 10px;
}

.sucess-img{
    margin-right: 13px;
   
}

.thanks{
    padding-left: 30px;
    
}

.submit-hide{
    display: none;
}

.red{
    color:hsl(0, 66%, 54%);
    
   
}

.red-border{
    border-color: hsl(0, 66%, 54%);
}

.required-container{
    display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 18px;
        margin-top: 10px;
}

.email-hide{
    display: none;
    margin-top: 10px;
}

.margin{
    margin-top: 10px;
}

.margin2{
    margin-top: 25px;
}

.message-header{
    margin-top: 30px;
}

.margin3{
    margin-bottom: 46px;
}