*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: hsl(30, 54%, 90%);
    font-size: 16px;
    
}

#container{
background-color: hsl(0, 0%, 100%);
margin-top:100px;
margin-left: auto;
margin-right: auto;
height: 1565px;
width: 700px;
border-radius: 20px;
text-align: left;
margin-bottom: 100px;
}

.omelette img{
    width: 640px;
    border-radius: 10px;
    margin-top: 30px;
    height: 250px;
}

.omelette{
    display: flex;
        align-items: center;
        justify-content: center;
}

.content{
    padding-left: 28px;
    
}

h1{
    margin-top: 22px;
    margin-bottom: 22px;
    font-family: "Young Serif", sans-serif;
   
}

p{
    color:hsl(24, 5%, 18%);
    margin-bottom: 25px;
    font-family: "Outfit", sans-serif;
    
}

.prep-time-info h3{
    color:#6f103D;
    font-family: "Outfit", sans-serif;
    margin-bottom: 15px;
   
}

.prep-time{
    background-color: hsl(330, 100%, 98%);
    padding-left: 35px;
    padding-top: 20px;
    padding-bottom: 16px;
    margin-right: 30px;
    border-radius: 10px;
}

.prep-time li{
    padding-left: 1rem;
    padding-bottom: 10px;
    color: hsl(24, 5%, 18%);
    font-family: "Outfit", sans-serif;
}

.prep-time li::marker {
    color:#6f103D;
}

.prep-time ul{
    padding-left: 10px;
}

span{
    font-weight: bold;
}

h2{
    font-family: "Outfit", sans-serif;
    color: hsl(14, 45%, 36%);
    padding-bottom: 18px;
    margin-top: 18px;
}

.ingredients ul{
    padding-left: 22px;
}

.ingredients li{
    padding-bottom: 10px;
    padding-left: 20px;
    font-family: "Outfit", sans-serif;
    color: hsl(24, 5%, 18%);
}

.ingredients li::marker{
    color:hsl(14, 45%, 36%);
}

.divider{
    background-color: #e2e2e2;
    height: 2px;
    margin-right: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
}

ol{
    margin-left: 22px;
    font-family: "Outfit", sans-serif;
    margin-bottom: 20px;
}

ol li::marker{
    font-weight: bold;
    color: hsl(14, 45%, 36%);
}

ol li{
color: hsl(30, 10%, 34%);
margin-bottom: 15px;
padding-left:20px;
padding-right: 25px;
}

.dontwannamakeanotherp{
   color: hsl(30, 10%, 34%);
   margin-bottom: 30px;
}

.table p{
    color: hsl(30, 10%, 34%);
    margin-left: 50px;
    margin-bottom: 10px;
    
}

.table span{
    color:hsl(14, 45%, 36%);
    font-weight: bolder;
    font-family: "Outfit", sans-serif;
}

.nutrition-card{
    display: flex;
}

.width1 {
    
    width: 325px
}




/*Media Query



*/

@media screen and (max-width: 700px) {
    #container {
            background-color: hsl(0, 0%, 100%);
            margin-top: 0;
            margin-left: auto;
            margin-right: auto;
            height:1975px;
            width: 100%;
            border-radius: 0px;
            text-align: left;
            margin-bottom: 0;
            
        }

        .omelette img{
            width:100%;
            border-radius: 0px;
            margin-top: 0px;
            
        }
                .content {
                    padding-left: 28px;
                    padding-right: 28px;
                }
}