:root {
    /* Colors */
    --light-blue: #31c3bd;
    --light-blue-hover: #65e9e4;
    --light-yellow: #f2b137;
    --light-yellow-hover: #ffc860;
    --dark-navy: #1a2a33;
    --semi-dark-navy: #1f3641;
    --silver: #a8bfc9;
    --silver-hover: #dbe8ed;
    --button-1-shadow: #CC8B13;
    --button-2-shadow: #118C87;
    --player-selector: #d9d9d9;
    --playbox-shadow: #10212A;
    --grey-shadow: #6B8997;



}


* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    position: relative;
    overflow: hidden;
    display: flex;
    background-color: var(--dark-navy);
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
}

.logo{
    width: 80px;
    margin-top: 270px;
    margin-bottom: 40px;
}

.logo-two{
    height: 70%; 
}

.selector-container{
    width: 470px;
    background-color: var(--semi-dark-navy);
    height: 200px;
    border-radius:15px;
    text-transform: uppercase;
    box-shadow: inset 0 -8px 0 0 #10212A;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.new-game-btn-cpu{
    margin-top: 40px;
    margin-bottom: 20px;
    width: 470px;
    height: 60px;
    border-radius: 15px;
    background-color:var(--light-yellow);
    transition: all .2s ease-in;
    cursor: pointer;
    box-shadow: inset 0 -6px 0 0 var(--button-1-shadow);
    border: none;
    font-family: var(--default-font);
    font-size: 20px;
    font-weight: 600;
}

.new-game-btn-cpu:hover{
    background-color: var(--light-yellow-hover)
}

.new-game-btn-player {
    margin-bottom: 20px;
    width: 470px;
    height: 60px;
    border-radius: 15px;
    background-color: var(--light-blue);
    transition: all .2s ease-in;
    cursor: pointer;
    box-shadow: inset 0 -6px 0 0 var(--button-2-shadow);
    border: none;
    font-weight: 600;
    font-size: 20px;
}

.new-game-btn-player:hover {
    background-color: var(--light-blue-hover)
}

.selector-header{
    color:var(--silver);
    margin:0px;
    margin-top: 28px;
    margin-bottom: 28px;
    font-size: 16px;
}

.selectors{
    width: 90%;
    height: 65px;
    border-radius: 10px;
    background-color: var(--dark-navy);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    
}

.selector-btns{
    cursor: pointer;
    height: 70%;
    background-color: transparent;
    border: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.cop-out{
    margin-right: 10px;
}

.x-img{
    
    width: 30px;
    filter: brightness(0) saturate(100%) invert(70%) sepia(1%) saturate(3221%) hue-rotate(172deg) brightness(99%) contrast(121%);
}

.o-img{
    width: 30px;
    filter: brightness(0) saturate(100%) invert(70%) sepia(1%) saturate(3221%) hue-rotate(172deg) brightness(99%) contrast(121%);
}

.selector-subheader{
    color: var(--grey-shadow);
    font-weight: 700;
    font-size: 13px;
    margin-top: 20px;
}

.active-selector{
    background-color: #a8bfc9;
    border-radius: 10px;
}

.active-filter{
    filter: brightness(0) saturate(100%) invert(13%) sepia(7%) saturate(2745%) hue-rotate(159deg) brightness(100%) contrast(94%);
}

.hide{
   display: none !important;
}

#new-game-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.turn-restart-container{
    display: grid;
    grid-template-columns: 0.3fr 0.3fr 0.3fr;
    align-items: center;
    justify-content: space-between;
    width: 470px;
    margin-top: 175px;
    height: 50px;
    gap:15px
}

.x-img-2{
    margin-right: 10px;
    width: 20px;
        filter: brightness(0) saturate(100%) invert(70%) sepia(1%) saturate(3221%) hue-rotate(172deg) brightness(99%) contrast(121%);
}

.x-img-3{
    width: 70px;
    filter: brightness(0) saturate(100%) invert(64%) sepia(31%) saturate(784%) hue-rotate(129deg) brightness(93%) contrast(102%);
}

.x-img-board{
    width: 70px;
        filter: brightness(0) saturate(100%) invert(64%) sepia(31%) saturate(784%) hue-rotate(129deg) brightness(93%) contrast(102%);
}

.img-win{
    width:70px;
}

.o-img-board{
    width: 70px;
    filter:brightness(0) saturate(100%) invert(82%) sepia(72%) saturate(2808%) hue-rotate(328deg) brightness(96%) contrast(97%)
}

.turn-container{
    background-color: var(--semi-dark-navy);
    color:var(--silver);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    border-radius: 10px;
    box-shadow: inset 0 -4px 0 0 #10212A;
    font-weight: 500;
}

.restart-container{
    width: 50px;
    height: 100%;
    background-color: var(--silver);
    border-radius: 10px;
    box-shadow: inset 0 -3px 0 0 var(--grey-shadow);
    border: none;
    display: flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;
    justify-self: end;
}

.restart-btn{
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

.restart-img{
    width: 20px;
}

.tic-tac-toe-board{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 470px;
    
    gap:18px;
    margin-top:20px;
    overflow: hidden;
}

.board-square{
    width: 140px;
    height:140px;
    background-color: var(--semi-dark-navy);
    border-radius: 15px;
    box-shadow: inset 0 -8px 0 0 var(--playbox-shadow);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scoreboard{
    width: 470px;
    height:65px;
    margin-top: 20px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:18px;
}

.x-score{
    width: 100%;
    background-color: var(--light-blue);
    border-radius:12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
}

.tie-score{
    width: 100%;
    background-color: var(--silver);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    
}

.o-score{
    width: 100%;
    background-color: var(--light-yellow);
    border-radius: 12px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
}

.o-tally{
    font-size: 26px;
    font-weight: 700;
}

.tie-tally {
    font-size: 26px;
    font-weight: 700;
}

.x-tally {
    font-size: 26px;
    font-weight: 700;
}

.modal-lightbox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999; 
}

.modal-win-container{
    z-index: 1000;
    position: absolute;
    width: 100%;
    height:260px;
    top:330px;
    left:0px;
    background-color: var(--semi-dark-navy);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.round-winner-img{
    width:70px;
    filter:brightness(0) saturate(100%) invert(64%) sepia(31%) saturate(784%) hue-rotate(129deg) brightness(93%) contrast(102%);
    margin-right: 20px;
}

.round-winner-img-2 {
    width: 70px;
    filter: brightness(0) saturate(100%) invert(82%) sepia(72%) saturate(2808%) hue-rotate(328deg) brightness(96%) contrast(97%);
    margin-right: 20px;
}

.win-msg-container{
    display: flex;
    align-items: center;
  
}

.result{
    margin-top: 40px;
    margin-bottom: 20px;
    font-size:16px;
    color:var(--silver);
}

.win-messsage{
    font-size: 36px;
    color:var(--light-blue);
    font-weight: 600;
    letter-spacing: 4px;
}

.button-grid-container{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    width:225px;
    gap:15px;
    height: 45px;
    margin-top: 20px;
}

.quit-btn{
  background-color: var(--silver);
  border: none;
  border-radius: 9px;
  cursor: pointer;
  box-shadow: inset 0 -3px 0 0 var(--grey-shadow);
  font-weight: 700;
  font-size: 16px;   
  font-family: inherit;
}

.next-rnd-btn{
background-color: var(--light-yellow);
    border: none;
    border-radius: 9px;
    cursor: pointer;
    box-shadow: inset 0 -3px 0 0 var(--button-1-shadow);
    font-weight: 700;
    font-size: 16px;
    font-family: inherit;
}

.yellow{
    color: var(--light-yellow);
}

.light-blue-bg{
    background-color: var(--light-blue);
}

.yellow-bg{
    background-color: var(--light-yellow);
}

.grey{
    color: var(--silver);
    margin-bottom: 20px;
}