*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 16px;
    
}



.grid-buttons{
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    gap: 35px
}

.top-container{
    display: flex;
    align-items: center;
    margin-top: 40px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: white;
}

.grey-buttons{
    background-color: transparent;
    border: transparent;
    color: hsl(219, 9%, 45%);
    cursor: pointer;
}

.logo{
    margin-right: 50px;
}

.avatar{
    width: 50px;
    transition: all .2s ease-in;
    border: transparent;
    cursor: pointer;
}

.avatar:hover{
    border: 2px solid hsl(26, 100%, 55%);
    border-radius: 50px;
    
}

.cart-avatar-container{
    display: flex;
    justify-content:flex-end;
    width: 100%;
    
}

.cart-access{
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    margin-right: 40px;
}

.small{
    width: 60px;
    border-radius: 10px;
    margin-right: 20px;
    
}

.items-in-cart{
    width: 20px;
    height:13px;
    background-color: hsl(26, 100%, 55%);
    border-radius: 30px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    position: absolute;
    right:82px;
    top:7px
}

.outline{
    height: 4px;
    background-color: hsl(223, 64%, 98%);
    margin-top: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.product-container{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    margin-top: 90px;
    height: 700px;
    gap:140px
}

.product-1-img{
    width:100%;
    border-radius: 15px;
    cursor: pointer;
}

.preview-images-container{
    width: 490px;
    height: 100%;
    
}

.grid-img-container{
    display: grid;
    grid-template-columns: repeat(4, 130px);
    gap:0px;
   
}

.grid-img-container-2{
    display: grid;
        grid-template-columns: repeat(4, 130px);
        gap: 0px;
        justify-content: center;
        align-items: center;
}

.product-images{
    width: 100px;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
    transition: transform 0.3s, opacity 0.3s;
}

.product-images:hover{
    opacity: 0.3;
}

.sneaker-company-header{
    font-weight: 400;
    letter-spacing: 2px;
    color: hsl(220, 13%, 13%);
    font-size: 14px;
    margin-top: 10%;
}

.product-header{
    font-size: 48px;
    margin-top: 20px;
    line-height: 55px;
    margin-bottom: 40px;
}

.item-description-container{
    width: 42%;
}

.item-description{
    color:hsl(219, 9%, 45%);
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 25px;
}

.sale-price{
    font-size: 28px;
    margin-right: 20px;
}

.sale-price-container{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.sale-percentage{
    background-color: hsl(220, 13%, 13%);
    color:white;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 27px;
}

.original-price{
    text-decoration: line-through;
    color:hsl(219, 9%, 45%);
}

.cart-counter-container{
    display: flex;
    gap: 15px;
    margin-top: 40px;
}

.item-counter{
    width: 180px;
    background-color:hsl(223, 64%, 98%); 
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.plus-minus-buttons{
    border: transparent;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s ease-in;
}

.plus-minus-buttons:hover{
    opacity: 0.5;
}

.add-to-cart-container{
    width: 310px;
    border-radius: 10px;
    border: transparent;
    background-color: hsl(26, 100%, 55%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: all .2s ease-in;
}

.add-to-cart-container:hover {
    opacity: 0.5;
}

.black{
    filter: grayscale(100%) brightness(0);
}

.orange-border{
    border: 4px solid hsl(26, 100%, 55%);
}

.opacity{
    opacity: 0.3;
}

.hide{
    display:none
}

.cart-when-clicked-container{
    position:absolute;
    right:110px;
    width: 400px;
    height: 270px;
    z-index:1;
    bottom:650px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
}



.outline-2{
    height: 4px;
        background-color: hsl(223, 64%, 98%);
        margin-top: 25px;
        width: 100%;
        
}

.cart-header{
    margin-top: 20px;
    margin-left: 26px;
}

.empty-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 202px;
    color: hsl(219, 9%, 45%);
    flex-direction: column;
}

.modal{
    
    width:100px;
    height:700px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom:150px;
    left:580px;
    width:580px;
    z-index: 1000;
}



 .modal-close{
    position: absolute;
    top: -35px;
     right: -3px;
    background-color: transparent;
    border:transparent;
    cursor:pointer;
 }

 .orange-filter{
    filter: sepia(1) saturate(6) hue-rotate(-15deg) brightness(1.1);
    width: 18px;
 }

 .first-container{
    display:flex;
    line-height: 25px;
    width: 100%;
    justify-content: center;
    align-items: center;
    
 }

 .second-container{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 25px;
 }

 .bold{
    font-weight: 700;
    color: black;
 }

 .checkout-btn{
    width: 290px;
    height: 60px;
    background-color: hsl(26, 100%, 55%);
    border: transparent;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
 }

.annoying{
    display: flex;
}

.trash-btn{
    background-color: transparent;
    border: transparent;
    margin-left: 23px;
    cursor: pointer;
}

h3{
    font-weight:400
}

.product-images-two {
    width: 100px;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 15px;
    cursor: pointer;
    transition: transform 0.3s, opacity 0.3s;
    height: 90px;
    
}

.product-images-two:hover {
    opacity: 0.3;
}

.modal-img-container{
    position: relative;
}

.previous{
    position: absolute;
    top:275px;
    left: -30px;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: filter 0.3s ease;
}

.previous:hover img{
filter: sepia(1) saturate(6) hue-rotate(-15deg) brightness(4);
}

.next{
    position: absolute;
    top: 275px;
    right:-30px;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: filter 0.3s ease;
    background-color: white;
}

.next:hover img {
    filter: sepia(1) saturate(6) hue-rotate(-15deg) brightness(4);
}


.product-1-img-2 {
    width: 100%;
    border-radius: 15px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 999;
}
