:root {
    --color-dark-tangerine: #fda214;
    --color-light-tangerine: #ffb84a;
    --color-spindle: #bcced9;
    --color-arapawa: #304859;
    --color-tangaroa: #152938;
    --color-white-smoke: #f2f2f2;
    --color-bermuda-grey: #7191a5;
    --color-shakespeare: #6395b8;
    --color-pattens-blue: #dfe7ec;
    --color-snow: #fcfcfc;
    --font-size-h1: 4.8rem;
    --font-size-h2: 3.2rem;
    --font-size-h3: 2rem;
    --font-size-number-4x4: 4.4rem;
    --font-size-number-6x6: 3.2rem;
    --font-size-button: 2rem;
    --font-size-button-big: 3rem;
    --font-size-button-menu: 2.4rem;
    --font-size-p: 1.8rem;
}

body{
    font-family: "Atkinson Hyperlegible", sans-serif;
    background-color: #152938;
}

.logo{
    display: block;
    margin-top: 225px;
    filter:brightness(0) saturate(100%) invert(81%) sepia(73%) saturate(3%) hue-rotate(285deg) brightness(109%) contrast(96%)
}

.logotwo {
    display: block;
    height:60%;
    filter: brightness(0) saturate(100%) invert(81%) sepia(73%) saturate(3%) hue-rotate(285deg) brightness(109%) contrast(96%)
}

.menu-container{
    width: 610px;
    background-color: #fcfcfc;
    height:510px;
    border-radius: 20px;
}

.padding-container{
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
}

.theme-header{
    color:#7191a5;
    font-weight: 600;
}

.theme-button{
    width:262px;
    border: none;
    background-color: #bcced9;
    height: 50px;
    border-radius: 50px;
    color:white;
    font-size: 22px;
}

.grid-button{
    width: 262px;
    border: none;
    background-color: #bcced9;
    height: 50px;
    border-radius: 50px;
    color: white;
    font-size: 22px;
}

button:focus {
    border: none;
    outline: none;
}

.theme-buttons-container{
    gap:20px
}

.grid-button-container{
    gap:20px;
}

.active-theme{
    background-color: #152938 !important;
}

.player-button{
width: 120px;
border: none;
background-color: #bcced9;
height: 45px;
border-radius: 50px;
color:white;
font-size: 22px;
}


.num-of-players-container{
    display:flex;
    gap:30px;
}

.start-btn{
    border: none;
    background-color: #fda214;
    color: white;
    font-size: 22px;
    height:50px;
    border-radius:30px;
}

.hide{
    display: none;
}

.top-container{
    width:80%;
    height:45px;
}

.restart-btn{
    height:40px;
    width:120px;
    background-color: #fda214;
    border-radius: 50px;
    border:none;
    color:white;
    font-weight: 700;
}

.new-game-btn{
    height: 40px;
    width: 120px;
    background-color: #bcced9;
    border-radius: 50px;
    border:none;
    color:#152938;
    font-weight: 700;
}

.restart-buttons{
    gap:13px;
}

.gameboard-circles-container{
    width:500px;
    height: auto;
    margin-top:120px;
    gap:15px
}

.memory-circle{
    background-color: white;
    width: 110px;
    height: 110px;
    border-radius:500px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
    color:#304859;
}

.bottom-container{
    width:475px;
    margin-top:60px;
    gap:20px;
}

.player-turn-container{
width:80%;
height:80px;
margin-top:60px;
gap:28px;
}

.player-container{
    background-color: #bcced9;
    color: #7191a5;
    font-weight: 700;
    width: 25%;
    border-radius: 5px;
    height:100%;
    padding-left: 15px;
    padding-right: 15px;
}

.time-move-container{
    background-color:#bcced9;
    color:#7191a5;
    font-weight: 700;
    height:60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:50%;
    padding-left: 20px;
    padding-right: 20px;
}


span{
    color: #152938;
    font-size: 28px;
}


.win-modal{
    background-color: white;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height:calc(auto + 30px);
    padding-bottom:55px;
    width:550px;
    border-radius: 20px;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    z-index:1000;
}

.win-header{
    font-weight: bold;
}

.result-subheader{
    color:#7191a5;
    font-weight: bold;
}

.player-grid-container {
    flex-direction: column;
    gap: 15px;
    width: 100%;
    
}

.player-result {
    background-color: #dfe7ec;
    border-radius: 10px;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 16px;
    height:60px;
    color:#7191a5;
}

.player-result.highlight {
    background-color: #304859;
    color: white;
}

.bigger{
     width: 225px;
}

.lightbox-bg {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.six-by-six{
    width:650px;
}

.six-by-six-circles{
    width:90px;
    height:90px;
}

.filler{
    font-size: 40px;
}

