*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background-color: hsl(234, 29%, 20%);
    
    
}

.container{
    display: flex;
    width: 950px;
    height: 650px;
    background-color: hsl(0, 0%, 100%);
    margin-left: auto;
    margin-right: auto;
   margin-top: 160px;
    border-radius: 20px;
    position: relative;
    
    
}




 .sign-up{
    
    width:400px;
    height: 610px;
    max-height:650px;
   margin-right: 500px;
    object-fit: cover;
border-radius: 10px;
position: absolute;
   left: 525px;
   margin-top: 20px;
   
}

.word-container{
    flex-direction: column;
    padding-left: 70px;
    padding-right: 600px;
}

.update{
    font-size: 3.7rem;
    color:hsl(234, 29%, 20%);
        margin-top: 75px;
        margin-bottom: 20px;
}

ul{
    list-style-image: url(./assets/images/icon-list.svg);
    margin-left: 22px;
    color:hsl(234, 29%, 20%);
    line-height:35px;
    margin-bottom: 40px;
}

.join{
    color: hsl(234, 29%, 20%);
    margin-bottom: 25px;
}

.email{
    color:hsl(234, 29%, 20%);
    margin-bottom: 8px;
}

input{
    width: 385px;
    height: 60px;
    border-radius: 8px;
    border-color: hsl(231, 7%, 60%);
    border-left: 2px solid hsl(231, 7%, 60%);
    border-top: 2px solid hsl(231, 7%, 60%);
    padding-left: 25px;
}

.sub-container{
    background-color: hsl(234, 29%, 20%);
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 385px;
    border-radius: 8px;
    cursor: pointer;
    transition: all .2s ease-in;
}

.sub-container:hover{
background-color: hsl(4, 100%, 67%);
}

.sub{
    color: hsl(0, 0%, 100%);
    font-weight: 700;
}



.check{
    width: 55px;
    margin-top: 45px;
    margin-bottom: 35px;
}

.container2{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    margin-top:370px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right:80px;
    border-radius: 30px;
}

.sub-header{
    font-size: 3.7rem;
    line-height: 59px;
    margin-bottom: 33px;
}

.container2 p{
color: black;
margin-bottom: 35px;
line-height: 25px;
}

span{
    font-weight: bold;
}

.dismiss-container{
    background-color: hsl(234, 29%, 20%);
   
    display: flex;
    
        align-items: center;
        justify-content: center;
        height: 60px;
        width: 385px;
        border-radius: 8px;
        cursor: pointer;
        transition: all .2s ease-in;
}

.dismiss-container:hover{
    background-color: hsl(4, 100%, 67%);
}

.dismiss{
color: white;
font-weight: 700;
}

.hide {
    display: none;
}

.error-message {
    color: hsl(4, 100%, 67%);
    /* Red color for error text */
    font-size: 0.8rem;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 11px;
    margin-left: 100px;
}

.input-error {
    border: 2px solid hsl(4, 100%, 67%);
    /* Red border for invalid input */
    background-color: hsl(4, 100%, 96%);
    /* Light red background */
    color: hsl(4, 100%, 67%);
}

.error-box{
    display: flex;
    align-items: center;
    
}



@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column-reverse;
        /* Stack elements vertically on smaller screens */
        width: 90%;
        /* Set width to 90% for smaller screens */
        height: auto;
        /* Let height adjust based on content */
        margin-top: 100px;
        /* Reduce top margin */
        padding: 0px;
        border-radius: 0px;
    }

    .sign-up{
       
                position: unset;
                display: flex;
                margin: 0px;
                height: 300px;
                border-radius: 0px, 0px, 10px, 10px;
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
                width: 100%;
    }


    .word-container{
        padding-right: 60px;
        padding-left: 30px;
    }

.sub-container{
    width: 100%;
    margin-bottom: 30px;
}

.update{
    margin-top: 25px;
    font-size: 2.4rem;
}
input{
    width: 100%;
}

.container2{
    min-height: 100vh;
    
}
}