body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
    background-color: hsl(0, 0%, 98%);
}

.where-theme-header-container{
    height:70px;
    border-bottom: 2px solid #E0E0E0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.where-header{
    margin-left: 100px;
    color:hsl(200, 15%, 8%);
    font-size: 26px;
    margin-bottom: 0;
}

.theme-container{
    margin-right: 100px;
    cursor: pointer;
}

.dark-mode-header {
    margin: 0;
    color:hsl(200, 15%, 8%)
}

.fa-moon{
    margin-right: 10px;
}

.dark-mode{
    background-color: hsl(207, 26%, 17%);
    color:white;
}

.light-mode{
    background-color: hsl(0, 0%, 98%);
}

.country-input {
    border: none;
    outline: none;
    height: 100%;
    width: 370px;
    border-radius: 8px;
}


.country-input:focus {
    background-color: transparent;
    outline: none;
}

.country-input::-webkit-search-cancel-button {
    display: none;
}

.fa-x{
   color:grey;
   cursor: pointer;
   margin-right: 30px;
}

.input-search-container{
    background-color: white;
    width: 30%;
    height:55px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.fa-magnifying-glass{
    margin-left: 30px;
    margin-right: 25px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7397%) hue-rotate(23deg) brightness(121%) contrast(9%)
}

.padding-container{
    width: 100%;
    height: 100%;
    padding-left: 100px;
    padding-right: 100px;
}


#dropdownMenuButton{
    width: 220px;
    height:55px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    
}

#dropdownMenuButton:focus{
    border: none;
}

.dropdown-menu{
    width: 220px;
    border: none;
    margin-top: 5px !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.dropdown-toggle::after {
    content: none;
}


.country{
    background-color: white;
    width:299px;
    height:400px;
    cursor: pointer;
}

.flag{
    width:100%;
    height:45%;
}

.more-padding{
    padding-left: 25px;
    padding-right: 25px;
}

.countries-container{
    gap:80px;
    flex-wrap: wrap;
}

.hide{
    display:none;
}

.back-btn{
    width: 150px;
    height:40px;
    border-radius: 10px;
    border: none;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 90px;
}

.fa-arrow-left{
    margin-right: 10px;
}

.bigger-flag{
    width: 100%;
    height:400px;
}

.bigger-flag-container{
    width:42%;
}

.clickable-info-container{
    gap:140px;
}

.expanded-country-name{
    font-weight: 800;
    margin-bottom: 30px;
}

.expanded-country-info-container{
    width: 700px;
}

.spacing-container{
    width: 50%;
}

.border-countries{
    margin: 0;
    margin-right: 15px;
}

.border-country-button{
    height:30px;
    width:110px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 5px;
    background-color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.border-country-container{
    margin-top: 65px;
}

.placeholder-dark::placeholder {
    color: white;
}

body.dark-mode .fa-magnifying-glass {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(360deg) brightness(120%) contrast(100%);
}

body.light-mode .fa-magnifying-glass {
    filter: grayscale(10000000);
}

.active-dropdown{
    background-color: rgb(0, 183, 255) !important;
    color:white !important;
}