*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(216, 12%, 8%);
    color:hsl(0, 0%, 100%);
    font-size: 15px;
    font-family: "Overpass", sans-serif;
}

.rating-state-container{
    background-color: hsl(213, 19%, 18%);
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
    height: 480px;
    padding: 1px;
    border-radius: 30px;
}

.hide{
    display: none !important;
}

.star-container{
    background-color:hsl(213, 20%, 22%);
    height: 45px;
    width: 10%;
    border-radius: 300px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.content-container{
    padding-left: 30px;
    padding-right: 35px;
    
}

.star{
    margin-left: 2px;
}

h1{
    margin-bottom: 18px;
}

.let-us-know{
    color: hsl(217, 12%, 63%);
    line-height: 28px;
    font-size: 17px;
    margin-bottom: 30px;
}

.btn-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.review-btn{
    background-color: hsl(213, 20%, 22%);
    outline: none;
    border: none;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    color: white;
    margin-bottom: 40px;
    cursor: pointer;
    transition: all .2s ease-in;
   
    font-size: 17px;
}

.review-btn:hover{
    background-color: hsl(25, 97%, 53%);
    color:hsl(216, 12%, 8%);
}

.submit-btn{
    width: 100%;
    height: 60px;
    background-color: hsl(25, 97%, 53%);
    border: none;
    border-radius: 80px;
    font-weight: 700;
    font-size: 18px;
   letter-spacing: 5px;
   cursor: pointer;
transition: all .2s ease-in;
}

.submit-btn:hover{
    background-color: white;
}

.thank-you-container{
    background-color: hsl(213, 19%, 18%);
        width: 480px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 250px;
        height: 450px;
        border-radius: 30px;
       display: flex;
       flex-direction: column;
       text-align: center;
}

.thanks-illustration{
    width: 40%;
    margin-top: 50px;
    margin-bottom: 30px;
}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected-container{
    background-color: hsl(213, 20%, 22%);
    width: 50%;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-bottom: 45px;
}

.gpt-container{
    display: flex;
    justify-content: center;

}

.fuck-you{
    color:hsl(25, 97%, 53%);
    margin-top: 5px;
}

.appreciate{
    color: hsl(217, 12%, 63%);
    margin-left: 25px;
    margin-right:25px;
    font-size: 17px;
}

.active{
    background-color: white;
    color: hsl(216, 12%, 8%);
}


@media (max-width: 767px){
    .rating-state-container{
        width: 100%;
        height:500px ;
    }
  
}